@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

.TogglesQuestion {
    font-family: 'Mulish', sans-serif;
}

.TogglesQuestion {
    /*background: linear-gradient(180deg, #F6B868 0%, #EE6B2D 100%);*/
    display: flex;
    flex-direction: column;
    /*max-width: 900px;*/
    margin: 0 auto;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.TogglesQuestion.correct {
    background: linear-gradient(180deg, #76E0C2 0%, #59CADA 100%);
}

.TogglesQuestion.partially-correct {
    background: linear-gradient(180deg, #F6B868 0%, #EE6B2D 100%);
}

.TogglesQuestion.incorrect {
    background: linear-gradient(180deg, #F1B496 0%, #EA806A 100%)
}

.TogglesQuestion h1, .TogglesQuestion h2 {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;
}

.TogglesQuestion h1 {
    font-size: 40px;
}

.TogglesQuestion h2 {
    font-size: 32px;
}

@media screen and (max-width: 600px) {
    .TogglesQuestion h1, .TogglesQuestion h2 {
        line-height: 160%;
    }

    .TogglesQuestion h1 {
        font-size: 20px;
    }

    .TogglesQuestion h2 {
        font-size: 16px;
    }
}

.TogglesQuestion > * {
    margin-bottom: 24px;
}
