/* TODO: make logical grouping of css properties */
.Toggle {
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    margin: 0 20px;

    overflow: hidden;
}

.correct .Toggle {
    border: 2px solid #FBFBFB;
}

.partially-correct .Toggle {
    border: 2px solid #F9D29F;
}

.incorrect .Toggle {
    border: 2px solid #FBFBFB;
}

.Toggle.stacked {
    border-radius: 24px;
    flex-direction: column;
}

.Toggle.stacked .ToggleOption {
    border-radius: 0;

    overflow: initial;
    white-space: normal;
}

.ToggleOption {
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    padding: 20px 0;

    color: #FFFFFF;

    cursor: pointer;

    flex: 1;


    overflow: hidden;
    white-space: nowrap;
}

/* TODO: CSS variables for color and the likes?*/
.ToggleOption.selected {
    /*background-color: #F8CAA3;*/
    color: #9F938B;
}

.correct .ToggleOption.selected{
    background-color: #A5E7E2;
}

.partially-correct .ToggleOption.selected{
    background-color: #F8CAA3;
}

.incorrect .ToggleOption.selected{
    background-color: #F2CBBD;
}