.toggle {
    box-sizing: border-box;
    border-radius: 100px;

    display: flex;
    justify-content: space-around;

    margin: 0 20px;

    overflow: hidden;
    position: relative;
}

.correct .toggle {
    border: 2px solid #FBFBFB;
}

.partially-correct .toggle {
    border: 2px solid #F9D29F;
}

.incorrect .toggle {
    border: 2px solid #FBFBFB;
}

.toggle.stacked {
    border-radius: 24px;
    flex-direction: column;
}

.toggle.stacked .toggle-option {
    border-radius: 0;

    overflow: initial;
    white-space: normal;
}

.toggle-option {
    box-sizing: border-box;
    border-radius: 100px;

    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    text-align: center;

    color: #FFFFFF;
    transition: color 0.2s ease-in-out;

    flex: 1;
    z-index: 999;
    padding: 20px 0;

    overflow: hidden;
    white-space: nowrap;

    cursor: pointer;
}

.toggle-option.selected {
    color: #9F938B;
}

@media screen and (max-width: 600px) {
    .toggle-option {
        font-size: 18px;
        padding: 15px 0;
    }
}

.slider {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    transition: left 0.15s ease-in-out, top 0.15s ease-in-out;
    border-radius: 100px;
}

.stacked .slider {
    border-radius: 0;
}

.correct .slider{
    background-color: #A5E7E2;
}

.partially-correct .slider{
    background-color: #F8CAA3;
}

.incorrect .slider{
    background-color: #F2CBBD;
}